@font-face {
    font-family: 'Helvetica Now Display';    
    src: local('Helvetica Now Display Regular'), local('HelveticaNowDisplay-Regular'),        
        url('HelveticaNowDisplay-Regular.woff2') format('woff2'),        
        url('HelveticaNowDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Helvetica Now Display';    
    src: local('Helvetica Now Display ExtBd'), local('HelveticaNowDisplay-ExtraBold'),        
        url('HelveticaNowDisplay-ExtraBold.woff2') format('woff2'),        
        url('HelveticaNowDisplay-ExtraBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
.reviews-sorted {
	font-size: 16px;
	font-family: inherit;
	margin-block: 60px;
	--rs-theme_clr: #ccc;
	--theme-bg-clr: #f6f6f6;
	--swiper-navigation-size: 25px;
	--swiper-theme-color: #000;
	--rs-swipe_content_padding: 20px 50px;
	--star-background: #de3a00;
}
.reviews-sorted * {
	box-sizing: border-box;
	margin: 0;
}

/* Swiper */
.reviews-sorted.swiper .swiper-button-prev{
	left: 0;
}
.reviews-sorted.swiper .swiper-button-next{
	right: 0;
}

.reviews-swiper-wrapper{
	overflow: hidden;
}
.reviews-swiper-wrapper .swiper{
	overflow: visible;
	padding-left: var(--gap);
	padding-right: var(--gap);
}

.reviews-swiper-wrapper.item-height_equal .swiper-slide{
	height: auto;
}
.reviews-swiper-wrapper.item-height_equal .swiper-slide > .inner{
	display: flex;
    flex-direction: column;
    height: 100%;
}
.reviews-swiper-wrapper.item-height_equal .swiper-slide > .inner .swipe-content{
	flex: 1;
}

/* Rating */
.reviews-sorted .rs-rating {
	--star-size: 60px;
	--star-color: #bbb;
	--percent: calc(var(--rating) / 5 * 100%);
	display: inline-block;
	font-size: var(--star-size);
	font-family: Times;
	line-height: 1;
}

.reviews-sorted .rs-rating::before {
	content: '★★★★★';
	letter-spacing: 3px;
	background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.reviews-sorted .rs-bg-rating{
	position: relative;
	width: 172px;
	height: 32px;
	--percent: calc(var(--rating) / 5 * 100%);
}
.reviews-sorted .rs-bg-rating .rating-img{
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(var(--rating) / 5 * 100%);
    object-fit: none;
    object-position: left top;
    z-index: 10;
}
.reviews-sorted .rs-bg-rating:after,
.reviews-sorted .rs-bg-rating:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.reviews-sorted .rs-bg-rating:before{
  	background-image: url(../assets/star.png), url(../assets/star.png), url(../assets/star.png), url(../assets/star.png), url(../assets/star.png);
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
	background-size: auto 25px;
	background-position: 4px center, 39px center, 74px center, 109px center, 144px center;
}
.reviews-sorted .rs-bg-rating:after{
	width: calc(100% - var(--rating) / 5 * 100%);
    left: auto;
    background: inherit;
    opacity: 0.75;
}
/* 
    ==================================
    Reviews item Layout
    ==================================
*/

/* Layout 1 */
.reviews-sorted.layout-1 .list-item:not(:last-child){
	margin-bottom: 30px;
}

.reviews-sorted.layout-1 .author{
	font-weight: 700;
}

.reviews-sorted.layout-1 .rs-rating-wrapper{
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.reviews-sorted.layout-1 .rs-rating{
	--star-size: 20px;
}
.reviews-sorted.layout-1 .date{
	font-size: 13px;
}

.reviews-sorted.layout-1 .rs-average{
	display: flex;
    align-items: flex-end;
	flex-wrap: wrap;
    gap: 10px;
	margin-bottom: 20px;
}
.reviews-sorted.layout-1 .rs-average .totalAverage{
	font-size: 50px;
    font-weight: 700;
    color: var(--star-background);
	line-height: 1;
}
.reviews-sorted.layout-1 .rs-average .rs-rating{
	--star-size: 40px;
}
.reviews-sorted.layout-1 .rs-average .totalReviews{
	font-size: 20px;
}

/* Layout 2 */

.reviews-sorted.layout-2 .rs-average{
	display: flex;
    align-items: flex-end;
	flex-wrap: wrap;
    gap: 10px;
	margin-bottom: 50px;
}
.reviews-sorted.layout-2 .rs-heading span{
	font-weight: 700;
}
.reviews-sorted.layout-2 .rs-rating-wrapper{
	margin-bottom: 5px;
}
.reviews-sorted.layout-2 .rs-rating-wrapper .rs-bg-rating{
	transform: scale(0.7);
    transform-origin: left;
}

.reviews-sorted.layout-2 .reviews-content{
	margin-top: 5px;
}

.reviews-sorted.layout-2 .rs-listing{
	display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
}
@media (max-width: 425px){
	.reviews-sorted.layout-2 .rs-listing{
		grid-template-columns: 1fr;
	}
}

.reviews-sorted.layout-2 .list-item .inner{
	padding: 20px 20px 10px;
    background-color: var(--theme-bg-clr);
}
.reviews-sorted.layout-2 .list-item .author{
	font-weight: 500;
}
.reviews-sorted.layout-2 .list-item .date{
	font-size: 12px;
}

/* Layout 3 */

.reviews-sorted.layout-3 .rs-average{
	display: flex;
    align-items: flex-end;
	flex-wrap: wrap;
    gap: 10px;
	margin-bottom: 50px;
}
.reviews-sorted.layout-3 .rs-heading span{
	font-weight: 700;
}
.reviews-sorted.layout-3 .rs-rating{
	--star-size: 30px;	
}

.reviews-sorted.layout-3 .rs-listing{
	display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 30px;
}
@media (max-width: 425px){
	.reviews-sorted.layout-3 .rs-listing{
		grid-template-columns: 1fr;
	}
}
.reviews-sorted.layout-3 .rs-rating-wrapper{
	display: none;
}
.reviews-sorted.layout-3 .list-item{
	background: var(--theme-bg-clr);
    padding: 20px;
	position: relative;
}
.reviews-sorted.layout-3 .list-item .quote-icon{
	width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #545454;
    padding: 5px;
    position: absolute;
    top: -0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--theme-bg-clr);
}

.reviews-sorted.layout-3 .list-item .author{
	line-height: 1.2;
	display: block;
	margin-top: 10px;
}
.reviews-sorted.layout-3 .list-item .author span{
	display: block;
	font-weight: 500;
}


/* 
    ==================================
    Slide layout
    ==================================
*/

.reviews-sorted.slide-layout .swiper-slide .swipe-content {
	padding: var(--rs-swipe_content_padding);
	background-color: var(--rs-theme_clr);
	border-radius: 10px;
	position: relative;
}

.reviews-sorted.slide-layout .swiper-slide .swipe-content:before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 23px 0;
	border-color: transparent var(--rs-theme_clr) transparent transparent;
	position: absolute;
	top: calc(100% - 1px);
	left: 60px;
	transform: skewX(20deg);
}

.reviews-sorted.slide-layout .swiper-slide .swipe-footer {
	margin-left: 110px;
	margin-top: 5px;
	text-align: left;
}
.reviews-sorted.slide-layout .swiper-slide .swipe-footer .author {
	font-weight: 700;
}
.reviews-sorted.slide-layout .swiper-slide .swipe-footer .rs-rating{
	--star-size: 30px;
}

.reviews-sorted.slide-layout .swiper-button-next,
.reviews-sorted.slide-layout .swiper-button-prev {
	top: calc(50% - 25px);
}

/* 
    ==================================
    [reviews-form]  
    ==================================
*/
.reviews-sorted_form {
	--rs-columns: repeat(2, 1fr);
	--rs-gap: 20px;
	--rs-animation-speed: 200ms;
	--rs-control_clr: #000;
	--rs-control_height: 40px;
	--rs-control_border: none;
	--rs-control_padding: 5px 10px;
	--rs-control_border_radius: 10px;
	--rs-control_placeholder_clr: #858585;
	--rs-label_size: 16px;
	background: #FFF;
    border-radius: 10px;
    overflow: hidden;
}

.reviews-sorted_form .entry-header {
	text-align: center;
}
.reviews-sorted_form .entry-header .title{
	font-family: 'Helvetica Now Display', sans-serif;
}

.reviews-sorted_form form {
	display: grid;
	grid-template-columns: var(--rs-columns);
	grid-gap: var(--rs-gap);
}
.reviews-sorted_form form .col-span-2 {
	grid-column: span 2;
}
.reviews-sorted_form form .col-span-2 {
	grid-column: span 2;
}
@media (max-width: 767px){
	.reviews-sorted_form {
		--rs-columns: 1fr;
	}	
	.reviews-sorted_form form .col-span-2 {
		grid-column: 1;
	}
}
.reviews-sorted_form .rs-form_group label {
	display: block;
	margin-bottom: 10px;
	font-size: var(--rs-label_size);
	color: var(--rs-label_clr, #000000);
}
.reviews-sorted_form .rs-form_control {
	display: block;
	width: 100%;
	font-size: 16px;
	font-family: inherit;
	height: var(--rs-control_height);
	color: var(--rs-control_clr);
	padding: var(--rs-control_padding);
	border: var(--rs-control_border);
	border-radius: var(--rs-control_border_radius);
	background-color: var(--rs-control_bg_clr, var(--rs-theme_clr));
}
.reviews-sorted_form textarea.rs-form_control {
	height: 80px;
	resize: vertical;
}
.reviews-sorted_form .rs-form_control:focus-within {
	outline: 1px dashed green;
	outline-offset: 2px;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
.reviews-sorted_form .rs-form_control::placeholder {
	color: var(--rs-control_placeholder_clr);
	opacity: 1; /* Firefox */
}
/* Internet Explorer 10-11 */
.reviews-sorted_form .rs-form_control:-ms-input-placeholder {
	color: var(--rs-control_placeholder_clr);
}
/* Microsoft Edge */
.reviews-sorted_form .rs-form_control::-ms-input-placeholder {
	color: var(--rs-control_placeholder_clr);
}
.reviews-sorted_form select.rs-form_control:invalid {
	color: var(--rs-control_placeholder_clr);
}
.reviews-sorted_form select.rs-form_control:invalid option {
	color: var(--rs-control_clr);
}

.reviews-sorted_form .rs-form_btn {
	position: relative;
	padding: 10px;
	background: #ccc;
	border: none;
	border-radius: var(--rs-control_border_radius);
	min-width: 200px;
	cursor: pointer;
	min-height: var(--rs-control_height);
	transition: all var(--rs-animation-speed) ease;
}
.reviews-sorted_form .rs-form_btn.loading {
	cursor: default;
	opacity: 0.75;
	pointer-events: none;
}
.reviews-sorted_form .rs-form_btn.loading::before {
	position: absolute;
	content: "";
	top: 50%;
	left: calc(100% + 5px);
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	background: url('images/loading.svg') no-repeat center;
	background-size: contain;
}
.reviews-sorted_form .rs-form_btn:hover,
.reviews-sorted_form .rs-form_btn:focus {
	background-color: #000;
	color: #fff;
}




/* 
    ==================================
    [reviews-average]
    ==================================
*/
.reviews-average{
	text-align: center;
}
.reviews-average .reviews-details .content > p{
	color: #bbb;
	display: inline;
}
.reviews-average .reviews-details .content > p strong{
	color: #a9a9a9;
}
.reviews-average .reviews-details .content .tooltip{
	display: inline-block;
    position: relative;
    top: 4px;
    margin-left: 10px;
	z-index: 10;
}
.reviews-average .reviews-details .content .tooltip .icon svg{
	width: 22px;
    height: 22px;
	fill: #bbb;
}
.reviews-average .reviews-details .content .tooltip .content{
	position: absolute;
    bottom: calc(100% + 10px);
    right: 0;
    width: 360px;
    max-width: 100vw;
	font-size: 14px;
    background: #FFF;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 25%);
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
}
.reviews-average .reviews-details .content .tooltip .icon:hover + .content{
	opacity: 1;
}

.reviews-average .reviews-details .powered-by{
	font-size: 14px;
    color: #4e4e4e;
}
.reviews-average .reviews-details .powered-by a{
	color: #0000e9;
}

/* 
    ==================================
    [reviews-grid]
    ==================================
*/

.reviews-grid .rs-grid{
	display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: var(--gap, 10px);
}

.reviews-grid .swiper-slide .inner{
	display: flex;
    flex-direction: column;
    height: 100%;
}
.reviews-grid .swiper-slide .swipe-content{
	flex-grow: 1;
}


/* 
	==================================
	[reviews-list]
	==================================
*/
.reviews-list .rs-list .swiper-slide:not(:last-child){
	margin-bottom: var(--gap, 20px);
}



/* 
	==================================
	[reviews-masonry]
	==================================
*/

.rs-grid-masonry{
	display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-auto-rows: 20px;
}


/* 
	==================================
	[reviews-slider]
	==================================
*/
.reviews-slider.layout-3{
	padding-top: 20px;
}
.layout-1 .inner {
    padding-left: 15px;
    padding-right: 15px;
}